.mainImg {
    background-image: url('../images/fundoPodo500.jpg');
}


@media (min-width: 1200px) {
    .card-container {
        width: 50% !important;
    }
    
    .mainImg {
        background-image: url('../images/fundo1400.jpg');
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-container {
        width: 50% !important;
    }
    
    .mainImg {
        background-image: url('../images/fundo1200.jpg');
    }
}

 @media (min-width: 768px) and (max-width: 991.98px) {
    .card-container {
        width: 50% !important;
    }

    .mainImg {
        background-image: url('../images/fundoPodo992.jpg');
    }
} 

@media (min-width: 576px) and (max-width: 767.98px) {
    .mainImg {
        background-image: url('../images/fundoPodo700.jpg');
    }
}