.mainImg {
    height: 600px;
    background-color: #F1F7F6;
    background-repeat: no-repeat;
}

.persotxt {
    color: #61f0c5 /* #045849 */;
}

.btnn {
    text-decoration: none;
    width: 130px !important;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 15px !important;
    padding: 10px 10px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

.agendar {
    background-color: white  !important;
    color: #1EBEA5 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.agendar:hover {
    background-color: #E6BB35 !important;
    border-color: #E6BB35 !important;
    color: #045849 !important;
    transform: scale(1.1);
}

.card-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100% !important;
}

.card-content {
    width: 324px;
    flex: 0 0 auto; /* Prevent card resizing */
}

.card-link {
    text-decoration: none !important;
    color: #E6BB35 !important;
}

.instagram-btn {
    color: #1EBEA5 ; /*  E1306C */
  }

.instagram-btn:hover {
    background-color: #E6BB35;
    border-color: #E6BB35 !important;
    color: #045849;
    transform: scale(1.1);
  }

.whatsapp-btn {
 /* #25D366 */
    color: #1EBEA5;
  }

.whatsapp-btn:hover {
    background-color: #E6BB35;
    border-color: #E6BB35 !important;
    color: #045849;
    transform: scale(1.1);
  }

.gold {
    color: #E6BB35;
}

/* fonte */

.alfa-slab-one-regular {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  } 

/* background-color */

.custom-bg {
    background-color: #F1F7F6 !important;
}

/* .img-fluid {
    max-width: 80% !important;
} */


.perfil {
    width: 50px;
    height: 60px;
}

.textDiv {
    background-color: #37cfb177;
    padding: 5px;
    margin-bottom: 10px;
}

span {
    font-weight: 700;
    color: #045849/* #093027 */;
}

mark {
    background-color: #E6BB35 !important;
}

.textAbout {
    text-align: justify;
    text-indent: 10px;
}

.h1 {
    font-size: 2.4em !important;
}

.h3 {
    font-size: 1.4em !important;
}