/* .backgroundImage {
    background-image: url('../images/podoxm.jpg');
    background-color: antiquewhite;
    background-repeat: no-repeat;
    height: 400px;
} */

/* Example: Customizing the Navbar */

.mainImg {
    height: 600px;
    background-color: #F1F7F6;
    background-image: url('../images/fundoPodo500.jpg'); 
    background-repeat: no-repeat;
}

.persotxt {
    color: #61f0c5 /* #045849 */;
}

.btnn {
    text-decoration: none;
    width: 130px !important;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 15px !important;
    padding: 10px 10px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

.agendar {
    background-color: white  !important;
    color: #1EBEA5 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.agendar:hover {
    background-color: #E6BB35 !important;
    border-color: #E6BB35 !important;
    color: #045849 !important;
    transform: scale(1.1);
}

.card-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100% !important;
}

.card-content {
    width: 324px;
    flex: 0 0 auto; /* Prevent card resizing */
}

.card-link {
    text-decoration: none !important;
    color: #E6BB35 !important;
}

.instagram-btn {
    color: #1EBEA5 ; /*  E1306C */
  }

.instagram-btn:hover {
    background-color: #E6BB35;
    border-color: #E6BB35 !important;
    color: #045849;
    transform: scale(1.1);
  }

.whatsapp-btn {
 /* #25D366 */
    color: #1EBEA5;
  }

.whatsapp-btn:hover {
    background-color: #E6BB35;
    border-color: #E6BB35 !important;
    color: #045849;
    transform: scale(1.1);
  }

.gold {
    color: #E6BB35;
}

/* .textMain {
    padding: 5px;
}

strong {
    color: rgb(134, 248, 248);
}


.btnn {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }


.agendar {
    background-color: #1EBEA5 !important;
    border-color: #1EBEA5 !important;
}

.instagram-btn {
    background-color: #E1306C;
  }

.instagram-btn:hover {
    background-color: #C13584;
    transform: scale(1.1);
  }

.whatsapp-btn {
    background-color: #25D366;
  }

.whatsapp-btn:hover {
    background-color: #1EBEA5;
    transform: scale(1.1);
  }


.lgpd {
    text-decoration: none;
    color:  #92a1d1;
}

.footer {
    background-color: aquamarine;
}


@media (min-width: 576px) {
    .backgroundImage {
        background-image: url('../images/podomd.jpg');
    }
}

@media (min-width: 768px) {
    .backgroundImage {
        background-image: url('../images/podolg.jpg');
    }
} */

@media (min-width: 1200px) {
    .card-container {
        width: 50% !important;
    }
    
    .mainImg {
        background-image: url('../images/fundo1400.jpg');
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-container {
        width: 50% !important;
    }
    
    .mainImg {
        background-image: url('../images/fundo1200.jpg');
    }
}

 @media (min-width: 768px) and (max-width: 991.98px) {
    .card-container {
        width: 50% !important;
    }

    .mainImg {
        background-image: url('../images/fundoPodo992.jpg');
    }
} 

@media (min-width: 576px) and (max-width: 767.98px) {
    .mainImg {
        background-image: url('../images/fundoPodo700.jpg');
    }
}
/* fonte */

.alfa-slab-one-regular {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  } 

/* background-color */

.custom-bg {
    background-color: #F1F7F6 !important;
}

/* .img-fluid {
    max-width: 80% !important;
} */


.perfil {
    width: 50px;
    height: 60px;
}

.textDiv {
    background-color: #37cfb177;
    padding: 5px;
}

span {
    font-weight: 700;
    color: #045849/* #093027 */;
}

mark {
    background-color: #E6BB35 !important;
}

.textAbout {
    text-align: justify;
    text-indent: 10px;
}

.h1 {
    font-size: 2.4em !important;
}

.h3 {
    font-size: 1.4em !important;
}